.create{
  border: 3px solid darkslateblue;
  padding: 5px;
  color: darkslateblue;
  background: white;
  width: 20px;
  line-height: 15px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.create:focus{
  border: 3px solid cornflowerblue;
  color: cornflowerblue;
}

.rem{
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.container{
  display: flex;
  flex-direction: column;
}

.cont{
  display: flex;
  flex-direction: row;
  border: 1px solid darkslateblue;
  padding: 10px;
  margin: 10px;
}

h2, select{
  margin-right: 10px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
