<div class="container">
  <div routerLink="/create" class="create">+</div>
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <div class="loader" *ngIf="loading | async else taskArea"></div>

  <ng-template #taskArea>
    <div
      *ngFor="let task of task | async"
    >
        <div class="cont">
          <h2>{{ task.title }}</h2>
          <select (change)="sendUser($event, task)">
            <option>{{ task.user }}</option>
            <option
              *ngFor="let u of username"
              [value]="u.username"
            >
              {{u.username}}
            </option>
          </select>

          <select>
            <option>{{ task.status }}</option>

          </select>
          <button class="rem" (click)="rem(task._id)">✖</button>
        </div>
    </div>
  </ng-template>
</div>
