<div class="form-container">
  <div routerLink="/" class="back">☚</div>
  <div class="error" *ngIf="error | async">{{ error | async }}</div>
  <div class="loader" *ngIf="loading | async else taskCreate"></div>
  <ng-template #taskCreate>
    <form (ngSubmit)="onSub()" #f="ngForm">
      <div>
        <label>User</label>
        <select name="user" ngModel>
          <option *ngFor="let u of username"
            [value]="u._id"
          >
            {{ u.username }}
          </option>
        </select>
      </div>
      <br>
      <div>
        <label>Title</label>
        <input type="text" name="title" required ngModel>
      </div>
      <br>
      <button
        type="submit"
        [disabled]="f.invalid || (loading | async)"
      >
        post
      </button>
    </form>
  </ng-template>
</div>
